.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.title {
  font-size: 34px;
}

.img {
  width: 600px;
  height: 100%;
  margin-bottom: 20px;
}

.description {
  font-weight: 700;
}

.description__text {
  font-weight: 600;
}

.price {
  font-weight: 700;
  margin-bottom: 10px;
}

.price__number {
  font-weight: 600;
  color: red;
}
.count {
  display: flex;
  justify-content: space-between;
  width: 200px;
  margin-bottom: 10px;
}

.button {
  height: 30px;
  width: 60px;
  background-color: black;
  color: #efefef;
}
.addButton {
  width: 200px;
  height: 30px;
  background-color: black;
  color: #efefef;
}
